{% extends "base.html" %}

{% block page_title %} Plantios {% endblock page_title %}

{% block content %}
    {% if plantio_list %}
    <table class="table fs-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Plantio</th>
          <th scope="col">Área</th>
          <th scope="col">Fazenda</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for plantio in plantio_list %}
        <tr>
          <th scope="row">{{ plantio.pk }}</th>
          <td>{{ plantio.nome_pl }}</td>
          <td>{{ plantio.area }}</td>
          <td>{{ plantio.fazenda }}</td>
          <td>
            <label for="btn-edit_{{ forloop.counter }}" class="btn btn-secondary">
                Editar
                <input type="button" onclick="location.href='{% url 'plantio_update' pk=plantio.pk %}';" id="btn-edit_{{ forloop.counter }}" style="display: none;">
            </label>

            <input type="checkbox" class="btn-check" id="btn-check_{{ forloop.counter }}" data-item-id="{{ plantio.pk }}" {% if plantio.ativo %}checked{% endif %}>
            <label class="btn {% if plantio.ativo %}btn-danger{% else %}btn-success{% endif %}" id="btn-label_{{ plantio.pk }}" for="btn-check_{{ forloop.counter }}">{% if plantio.ativo %} Cancelar {% else %}Ativar{% endif %}</label>
          
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há tarefas cadastradas</p>
    {% endif %}
    <a href="{% url "plantio_create"%}" class="btn btn-primary btn-lg"> Cadastrar plantio</a>

    <script>
      $(document).ready(function () {
        $('.btn-check').change(function() {
          var checkbox = $(this);
          var pk = checkbox.data('item-id');
          var label = $("#btn-label_" + pk);  // Obtemos o elemento label correspondente

          $.ajax({
            url: '/plantio/toggle/' + pk,
            type: 'post',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function (data) {
              // Atualizar interface do usuário conforme necessário
              console.log('Status: sucesso');
              checkbox.prop('checked', data.ativo);

              // Alterar a cor do botão
              if (data.ativo) {
                label.removeClass('btn-success').addClass('btn-danger');
                label.text(' Cancelar ');
              } else {
                label.removeClass('btn-danger').addClass('btn-success');
                label.text('Ativar');
              }
            },
            error: function (data) {
              console.log('Erro:', data);
            }
          });
        });
      });
    </script>
    {% endblock content %}
    